.divAboutContainer{
    padding:  100px 10%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divAboutContainer h2{
    font-size: 65px;
    width: 100%;
}

.divDisplay{
    display: flex;
    align-items: center;
}

.divAbout div{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.divAbout div span{
    padding: 10px;
    background: teal;
    border-radius: 50%;
    margin-right: 20px;
}

.divAbout.second div{
    flex-direction: row-reverse;
}

.divAbout div span{
    margin-left: 20px;
}



.divAbout p{
    text-align: justify;
}