.divAboutContainer{
    padding:  200px 10% 0 10%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divAboutContainer h2{
    font-size: 65px;
    width: 100%;
}

.divDisplay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
    width: 100%;
}


/* ****************** */
.divAbout,
.divImageMe{
    flex: 1;
}

.divAbout{
    /* background: turquoise; */
    flex: 2;
}

.divImageMe{
    text-align: center;
}


/* ****************** */


.divAbout div{
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.divAbout > div:first-child span.circle{
    padding: 15px;
    background: orangered;
    margin-right: 20px;
    width: 10px;
    height: 10px;

}

.divAbout.second div{
    flex-direction: row-reverse;
}

.divAbout div span.circle{
    margin-left: 20px;
}



.divAbout p,
.divAbout p span{
    /* text-align: justify; */
    line-height: 45px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}