.containerContact{
    padding: 10vh 10%;
    flex-wrap: wrap;
    align-items: center;
}

.contactItem{
    text-align: center;
}

.contactItem div{
    margin-top: 20px;
}

.contactItem div span{
    font-size: 25px;
    letter-spacing: 0.5px !important;
    font-family: 'Courier New', Courier, monospace;
}

.contactItem .dis-flex{
    flex-direction: column;
}

.contactItem .dis-flex span:first-child{
    margin-bottom: 10px;
}