@media screen and (max-width: 420px) {
    
    /* ********************** */
    /* ******** About ****** */
    /* ******************** */
    .divAboutContainer{
        display: block !important;
        padding-top: 100px;
    }

    .divAboutContainer h2 {
        margin-bottom: 0px;
    }

    .divAbout div span{
        display: none;
    }

    .divAbout p, .divAbout p span {
        font-size: 20px;
        line-height: 35px;
    }


    /* ********************** */
    /* ****** Projects ***** */
    /* ******************** */
    .divProjectContainer h2{
        font-size: 45px;
        line-height: 60px;
    }    
    
    .divToolsContainer div img {
        width: 80px;
    }

    .divProjects{
        margin-top: 40px;
    }

    .divProjectContainer .divProjectItem{
        width: 100%;
        margin-bottom: 50px;
    }

    .divProjectContainer .divProjectItem h3{
        font-size: 20px;
    }




    /* ********************** */
    /* ****** Tools ******** */
    /* ******************** */
    .divToolsContainer h2{
        font-size: 45px !important;
        text-align: start;
        margin: 0px 0 50px 0;
    }

    .toolsItem h3{
        font-size: 22px;
        margin-bottom: 20px;
    }

    .toolsItem h3 span{
        padding: 0 10px;
        margin-right: 10px;
    }
    



    /* ********************** */
    /* ****** Hobbies ****** */
    /* ******************** */
    .divHobbiesContainer{
        padding: 10vh 10%;
    }

    .divHobbiesContainer h2{
        font-size: 45px !important;
    }

    .divHobbiesContainer ul li{
        padding: 5px;
    }

    .divHobbiesContainer ul li span{
        font-size: 17px !important;
    }


    /* ********************** */
    /* ****** Contact ****** */
    /* ******************** */
    .containerContact{
        justify-content: space-around;
    }

    .contactItem{
        margin: 40px 0;
    }


    /* *************************** */
    /* ****** Navbar Fixed ****** */
    /* ************************* */
    .divNavbarFixed{
        padding: 0px 0;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        display: none !important;
    }

    .divNavbarFixed img{
        position: relative;
        left: 20px;
        transform: scale(.8);
    }

    .divNavbarFixed nav,
    .divNavbarFixed nav ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .divNavbarFixed nav::before{
        content:"+";
        font-weight: bold;
        font-size: 20px;
        background: teal;
        color: #fff;
        width: 30px;
        text-align: center;
        border-radius: 50%;
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 4%;
        cursor: pointer;
        display: none;
    }

    .divNavbarFixed nav ul li{
        width: 100%;
        background: yellowgreen;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #fff;
        display: none;
    }  

    .downloadCV.bottom {
        right: 10px;
        bottom: 10px;
        padding: 10px 15px;
    }


    /* ********************* */
    /* ****** Footer ****** */
    /* ******************* */
    .divFooter{
        padding: 20px 5%;
    }
    .divFooter p{
        font-size: 12px;
    }



    /* ********************* */
    /* ****** Header ****** */
    /* ******************* */
    .Description> div {
        width: 100%;
        top: 18vh;
    }
    .Description h1{
        font-size: 60px;
        line-height: 65px;
    }
    .Description h2{
        font-size: 30px;
        line-height: 30px;
    }

    .Photo > div {
        width: 84%;
        height: 35vh;
    }
    .bouleLittle{
        display: none;
    }
    
    .divLangages{
        display: none;
    }

    .WhiteSpace{
        width: 70%;
        bottom: 30px;
        border-radius: 80px 0 0 80px;
    }
}