.divToolsContainer{
    padding: 70px 10%;
}

.divToolsContainer div{
    flex-wrap: wrap;
}

.divToolsContainer div img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.divToolsContainer span{
    width: 10%;
}