.divToolsContainer{
    padding: 70px 10%;
}

.divToolsContainer div{
    flex-wrap: wrap;
}


.divToolsContainer h2{
    font-size: 65px !important;
    text-align: center;
    margin: 50px 0;
}

.toolsItem{
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.divToolsContainer .divTitle{
    /* background: springgreen; */
}

.toolsItem h3{
    font-size: 35px;
    margin-bottom: 50px;
    width: 100%;
    color: #16213E;
}

.toolsItem h3 span{
    background: orangered;
    padding: 0px 20px;
    border-radius: 50%;
    margin-right: 40px;
}


.divToolsContainer div img{
    width: 100px;
    object-fit: contain;
    margin-right: 50px;
    
}

.divToolsContainer span{
    width: 10%;
}

